<!DOCTYPE html>
<html lang="en" ng-app="apilaryApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="ico/favicon.ico">

  <title>apilary</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/dashboard.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span style="font-size: 1.4em; color: #ffffff"><span class="glyphicon glyphicon-leaf"></span> apilary</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right visible-xs">
        <li><a href="#">API Catalogs</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Left Pane -->
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-list"></span> API Catalogs</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-book"></span> Documentation</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>
      </ul>
    </div>
    <!-- /Left Pane -->

    <!-- Center Pane -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <!-- Main View -->
      <div ng-controller="CatalogController">
        <h1 class="page-header">API Catalogs</h1>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Catalog</th>
              <th>Type</th>
              <th>Versions</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="catalog in catalogs">
              <td><span class="label label-primary" style="font-size: 1em"><span class="glyphicon glyphicon-book"></span> {{catalog.name}}</span></td>
              <td>
                <span class="label label-default"><span class="glyphicon glyphicon-transfer"></span> REST</span>
              </td>
              <td>
                <span ng-repeat="versionInfo in catalog.versions">
                  <span class="label" ng-class="{'retired':'label-danger','deprecated':'label-warning','active':'label-primary','draft':'label-default'}[versionInfo.status]">{{versionInfo.version}}</span>
                </span>
              </td>
              <td>{{catalog.description}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Actions -->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-success"><span class="glyphicon glyphicon-plus"></span> Create Catalog</button>
        </div>
        <!-- /Actions -->

        <!-- Pagination Controls -->
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default">&laquo;</button>
          <button type="button" class="btn btn-default">1</button>
          <button type="button" class="btn btn-default">2</button>
          <button type="button" class="btn btn-default">3</button>
          <button type="button" class="btn btn-default">4</button>
          <button type="button" class="btn btn-default">&raquo;</button>
        </div>
        <!-- /Pagination Controls -->

      </div>
      <!-- /Main View -->

    </div>
    <!-- /Center Pane -->

  </div>
</div>

<!--
   - Placed at the end of the document so the pages load faster
   -->

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/controllers.js"></script>
<script src="/js/services/services.js"></script>

<!-- JQuery and Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/docs.min.js"></script>
</body>
</html>
