<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <!-- Main View -->
  <div>
    <h1 class="page-header"><span class="title-fade">Catalog: </span>{{page.catalog.name}}</h1>

    <h2>Information</h2>

    <div class="table-responsive">

      <table class="table table-hover table-condensed">
        <tbody>
        <tr>
          <td style="width: 15%">Type</td>
          <td><span class="label label-default"><span class="glyphicon glyphicon-transfer"></span> REST</span></td>
        </tr>
        <tr>
          <td>Versions</td>
          <td>
            <span ng-repeat="versionInfo in page.catalog.versions">
              <a href="#/catalogs/{{page.catalog._id }}?version={{ versionInfo.version }}"><span class="label" ng-class="{'retired':'label-danger','deprecated':'label-warning','active':'label-primary','draft':'label-default'}[versionInfo.status]">{{versionInfo.version}}</span></a>
            </span>
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{page.catalog.description}}</td>
        </tr>
        </tbody>
      </table>

      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs" ng-click="editCatalogModal(page.catalog._id)">
          <span class="glyphicon glyphicon-cog"></span> Edit Catalog</button>
      </div>

      <div class="spacer10"></div>
      <h2>Resources</h2>
      <ul class="nav nav-tabs">
        <li ng-class="{active : item.version == page.version}" ng-repeat="item in page.catalog.versions"><a href="#/catalogs/{{page.catalog._id }}?version={{ item.version }}">{{item.version}}</a></li>
      </ul>

      <div class="spacer10"></div>
      <p>Version information...</p>

      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs" ng-click="editCatalogVersionModal(page.catalog._id)">
          <span class="glyphicon glyphicon-cog"></span> Edit Info</button>
      </div>

      <div class="spacer10"></div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Method</th>
          <th>Resource</th>
          <th>Data</th>
          <th>Action</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="api in page.apis">
            <td><button type="button" class="btn btn-xs" ng-class="{'GET':'btn-success','POST':'btn-primary','PUT':'btn-primary', 'DELETE':'btn-danger','HEAD':'btn-warning'}[api.method]"><span class="uppercase"><strong>{{api.method}}</strong></span></button></td>
            <td>{{api.resource}}</td>
            <td><button type="button" class="btn btn-default btn-xs">Data</button></td>
            <td><button type="button" class="btn btn-default btn-xs">Edit</button></td>
            <td>{{api.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Actions -->
    <!--<div class="btn-group" ng-show="displayCreateButton">-->
    <div class="btn-group">
      <button type="button" class="btn btn-success btn-sm" ng-click="createCatalogApiModal()">
        <span class="glyphicon glyphicon-plus"></span> Create API</button>
    </div>
    <!-- /Actions -->

    <!-- Pagination Controls -->
    <div class="btn-group pull-right" ng-show="false">
      <button type="button" class="btn btn-default">&laquo;</button>
      <button type="button" class="btn btn-default">1</button>
      <button type="button" class="btn btn-default">2</button>
      <button type="button" class="btn btn-default">3</button>
      <button type="button" class="btn btn-default">4</button>
      <button type="button" class="btn btn-default">&raquo;</button>
    </div>
    <!-- /Pagination Controls -->

    <div class="row">
    </div>

    <!-- Debug -->
    <div ng-show="false">
      <pre>
        {{page | json}}
      </pre>
    </div>
    <!-- /Debug -->

  </div>
  <!-- /Main View -->

  <!-- Modals -->
  <div class="modal fade" id="catalogModal" tabindex="-1" role="dialog" aria-labelledby="catalogModalLabel" aria-hidden="true" ng-include="'/modal/catalog.html'">
  </div>
  <div class="modal fade" id="catalogVersionModal" tabindex="-1" role="dialog" aria-labelledby="catalogVersionModalLabel" aria-hidden="true" ng-include="'/modal/catalog-version.html'">
  </div>
  <div class="modal fade" id="catalogApiModal" tabindex="-1" role="dialog" aria-labelledby="catalogApiModalLabel" aria-hidden="true" ng-include="'/modal/catalog-api.html'">
  </div>
  <!-- /Modals -->

</div>
