<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <!-- Main View -->
  <div>
    <h1 class="page-header">API Catalogs</h1>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Catalog</th>
          <th>Type</th>
          <th>Versions</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="catalog in catalogs">
          <td><a href="#/catalog/{{ catalog.id }}"><span class="label label-primary" style="font-size: 1em"><span class="glyphicon glyphicon-book"></span> {{catalog.name}}</span></a></td>
          <td>
            <span class="label label-default"><span class="glyphicon glyphicon-transfer"></span> REST</span>
          </td>
          <td>
                <span ng-repeat="versionInfo in catalog.versions">
                  <span class="label" ng-class="{'retired':'label-danger','deprecated':'label-warning','active':'label-primary','draft':'label-default'}[versionInfo.status]">{{versionInfo.version}}</span>
                </span>
          </td>
          <td>{{catalog.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Actions -->
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-success"><span class="glyphicon glyphicon-plus"></span> Create Catalog</button>
    </div>
    <!-- /Actions -->

    <!-- Pagination Controls -->
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default">&laquo;</button>
      <button type="button" class="btn btn-default">1</button>
      <button type="button" class="btn btn-default">2</button>
      <button type="button" class="btn btn-default">3</button>
      <button type="button" class="btn btn-default">4</button>
      <button type="button" class="btn btn-default">&raquo;</button>
    </div>
    <!-- /Pagination Controls -->

  </div>
  <!-- /Main View -->

</div>
